ul {
    list-style-type: none;
}

header{
    border-bottom: 1px solid rgb(235, 235, 235);
}

.btn {
    padding-left: 2em !important;
    padding-right: 2em !important;
    font-size: 14px;
}

.dropdown-menu {
    display: none;
    background-color: rgb(244, 243, 243);
}

.dropdown-menu>li:first-child {
    margin-bottom: 20px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.icon {
    width: 20px;
    height: 20px;
}


.icon3{
    width: 35px;
    height: 35px;
}

/* footer custom */
.white{
    color: #F3F3F6 !important;
}

.ftr{
    padding-left: 17em !important;
    padding-right: 17em !important;
}

.title-ftr-link{
    font-size: 20px;
    color: var(--yellow) !important;
}

.sub-ftr-link{
    font-size: 15px;
    margin-top: 10px;
}

.cpy-right{
    font-size: 15px;
}