ul {
    list-style-type: none;
}

/* specific tekenmethode header styling */
header{
    border-bottom: 1px solid rgb(235, 235, 235);
}

.hdr, .main{
    padding-left: 7em !important;
    padding-right: 7em !important;
}



.btn {
    padding-left: 2em !important;
    padding-right: 2em !important;
    font-size: 14px;
}

.dropdown-menu {
    display: none;
    background-color: rgb(244, 243, 243);
}

.dropdown-menu>li:first-child {
    margin-bottom: 20px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.icon {
    width: 20px;
    height: 20px;
}

.icon2{
    width: 20px;
    height: 20px;
}

/* specific main styling */
main{
    row-gap: 2em;
}

.breadcrumb > li:not(:last-child)::after{
    content: ">";
    color: var(--darkBlue);
    margin-left: 20px;
}

.breadcrumb > li:last-child{
    font-weight: bold;
}

.search-bar{
    border: 1px solid rgb(235, 235, 235);
}
input::placeholder{
    font-size: 15px;
}

input{
    border: none;
    width: 100%;
}

input[type="text"]:focus{
    outline: none;
}

input[type="text"]{
    caret-color: black;
    font-size: 15px;
}

.search-bar > img:last-child{
    margin-left: auto;
}

.filters > article > div{
    border-radius: 50%;
    margin-bottom: 10px;
}

.filters > article > a{
    text-align: center;
}

.filters{
    margin-bottom: 7em;
}

.white{
    color: #F3F3F6;
}

.video-widget > img{
    height: auto;
    width: 100%;
}

.sizing > div > img{
    width: 100%;
    margin-bottom: 7px;
}

.sizing > div> a{
    font-size: 17px;
    font-weight: bold;
}

.grid-template{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}


.stroomschema{
    grid-column:  3/5;
    grid-row:  2/4;
}

.quote{
    text-align: center;
    grid-column: 1/3;
}