ul {
    list-style-type: none;
}

/* specific tekenmethode header styling */
header{
    border-bottom: 1px solid rgb(235, 235, 235);
}

.btn {
    padding-left: 2em !important;
    padding-right: 2em !important;
    font-size: 14px;
}

.dropdown-menu {
    display: none;
    background-color: rgb(244, 243, 243);
}

.dropdown-menu>li:first-child {
    margin-bottom: 20px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.icon {
    width: 20px;
    height: 20px;
}

/* specific main styling */
main{
    row-gap: 2em;
}

.breadcrumb > li:not(:last-child)::after{
    content: ">";
    color: var(--darkBlue);
    margin-left: 20px;
}

.breadcrumb > li:last-child{
    font-weight: bold;
}

.search-bar{
    border: 1px solid rgb(235, 235, 235);
}
input::placeholder{
    font-size: 15px;
}

input{
    border: none;
    width: 100%;
}

input[type="text"]:focus{
    outline: none;
}

input[type="text"]{
    caret-color: black;
    font-size: 15px;
}

.search-bar > img:last-child{
    margin-left: auto;
}

