/* CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Custom variables */
:root{
    --darkBlue: #090940;
    --lightBlue: #67c5d1;
    --red: #f96c4f;
    --yellow: #feb51e;
}

/* CSS layouts */
.flex{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-rowReverse{
    display: flex;
    flex-direction: row-reverse;
}

.flex-columnReverse{
    display: flex;
    flex-direction: column-reverse;
}

.grid{
    display: grid;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

/* Justify-content */
.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-around{
    justify-content: space-around;
}

.justify-evenly{
    justify-content: space-evenly;
}
.justify-start{
    justify-content: start;
}

.justify-end{
    justify-content: end;
}

/* Align-items */
.alignItem-center{
    align-items: center;
}

.alignItem-end{
    align-items: end;
}

.alignItem-start{
    align-items: start;
}

/* Align-self */
.alignSelf-start{
    align-self: start;
}

.alignSelf-center{
    align-self: center;
}

.alignSelf-end{
    align-self: end;
}

/* Align-content  !ONLY USE IF THERE IS MORE THAN ONE LINE!*/
.alignContent-start{
    align-content: start;
}

.alignContent-center{
    align-content: center;
}

.alignContent-end{
    align-content: end;
}

.alignContent-around{
    align-content: space-around;
}

.alignContent-between{
    align-content: space-between;
}

/* Flex wrap */
.flex-wrap{
    flex-wrap: wrap;
}

.flex-nowrap{
    flex-wrap: nowrap;
}

.flex-wrapReverse{
    flex-wrap: wrap-reverse;
}

/* Color scheme */

h1, h2, h3, p, a, button{
    color: var(--darkBlue);
}

.lightblue{
    background-color: var(--lightBlue);
}

.red{
    background-color: var(--red);
}

.yellow{
    background-color: var(--yellow);
}

/* Spacing */
.gap1{
    gap: 1em;
}

.gap2{
    gap: 2em;
}

.gap3{
    gap: 3em;
}

.gap4{
    gap: 4em;
}

.padding1{
    padding: 1em;
}

.padding2{
    padding: 2em;
}

.margin1{
    margin: 1em;
}

.margin2{
    margin: 2em;
}

/* link styling */

a{
    text-decoration: none;
}

a:hover, a:active, a:visited{
    color: var(--darkBlue);
}

/* button stiling */
button{
    border: none;
}